<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("includes/head")%>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%-include("includes/header")%> <%-include("includes/side-drawer")%>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestarents ===0){ %>
      <p>Unfortunatly, we have no restaurants yet</p>
      <% } else {%>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestarents %> restaurants.</p>

      <ul id="restaurants-list">
        <% for(let restaurant of restaurants) { %>
        <%-include("includes/restaurants/restaurants-items", {restaurant:
        restaurant})%> <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
